@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    min-width: 100%;
    min-height: 100vh;
    background-color: rgb(245, 245, 245);
}

a:link,
a:visited {
    color: grey;
}

a:hover,
a:active {
    color: rgb(68, 68, 68);
}

nav#navbar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 25rem;
    font-size: 2em;
}

main#main-doc {
    padding: 1rem;
    padding-left: 27rem;
    font-size: 2em;
    text-align: justify;
}

main#main-doc p {
    font-size: 1.2rem;
    margin-bottom: .5rem;
    text-indent: 1rem;
    line-height: 2rem;
}

main#main-doc header {
    margin-bottom: .5rem;
}

main#main-doc li {
    font-size: 1.2rem;
    text-indent: 1rem;
    list-style-position: inside;
    margin-bottom: .5rem;
}

main#main-doc p a:link,
main#main-doc p a:visited {
    color: rgb(39, 39, 39);
    transition: 150ms;
}

main#main-doc p a:hover,
main#main-doc p a:active {
    color: rgb(155, 155, 155);
}

section {
    margin-bottom: 2rem;
}

section #getRepo {
    padding-left: 2rem;
}

section #getRepo h4 {
    margin-bottom: .5rem;
}

main#main-doc section code {
    width: 100%;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    padding: .25rem;
    background-color: lightgray;
    border: grey 2px solid;
}

nav * {
    border: .1rem grey solid;
    border-top: transparent;
    padding: 1rem;
}

nav header {
    border-top: .1rem grey solid;
}